<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ImageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ViewContactDetails"
            android:exported="false" />
        <activity
            android:name=".CreateNewContactActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tap3_Page1"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Tap3_Page2"
            android:exported="false"
            android:parentActivityName=".Tap3_Page1"/>
        <activity
            android:name=".Tap3_Page3"
            android:exported="false"
            android:parentActivityName=".Tap3_Page2"/>
        <activity
            android:name=".Tap3_Page4"
            android:exported="false"
            android:parentActivityName=".Tap3_Page3"/>
        <activity
            android:name=".Tap3_ResultPage"
            android:exported="false"
            android:parentActivityName=".Tap3_Page4"/>

        <activity android:name=".ENFJ" />
        <activity android:name=".ENFP" />
        <activity android:name=".ENTJ" />
        <activity android:name=".ENTP" />

        <activity android:name=".ESFJ" />
        <activity android:name=".ESFP" />
        <activity android:name=".ESTJ" />
        <activity android:name=".ESTP" />

        <activity android:name=".INFJ" />
        <activity android:name=".INFP" />
        <activity android:name=".INTJ" />
        <activity android:name=".INTP" />

        <activity android:name=".ISFJ" />
        <activity android:name=".ISFP" />
        <activity android:name=".ISTJ" />
        <activity android:name=".ISTP" />
    </application>

</manifest>